rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      //This gives public lifetime read/write access to everyone!
      allow read, write: if true;
    }
  }
}