<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtU0fm_DOXxgr6EcUbmaW3V0EgjYjm5kU</string>
	<key>GCM_SENDER_ID</key>
	<string>746480712374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cleanerschoice</string>
	<key>PROJECT_ID</key>
	<string>cleaners-choice</string>
	<key>STORAGE_BUCKET</key>
	<string>cleaners-choice.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746480712374:ios:44f0da3f9c7e5c25b8c417</string>
</dict>
</plist>